# Email Configuration
GMAIL_USER=your-email@gmail.com
GMAIL_PASS=your-app-password

# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/ycl_website

# Port Configuration
PORT=5001 